<div id="admin-plugin-autopost-campaigns">
  {{#if editing}}
    <form class="form-horizontal">
      <div class="attribute">
        <label>{{i18n "autopost.campaign.field.provider"}}</label>
        {{combo-box content=providers
          value=editing.provider_id
          castInteger=true
          nameProperty="name"
        }}
      </div>
      <div class="attribute">
        <label>{{i18n "autopost.campaign.field.source"}}</label>
        {{combo-box content=sources
          valueProperty="id"
          castInteger=true
          value=editing.source_id
        }}
      </div>
      <div class="{{dependentCells}}">
        <div class="attribute">
          <label>{{i18n keyLabel}}</label>
          {{text-field value=editing.key}}
        </div>
        {{#if youTube}}
          <div class="attribute">
            <label>{{i18n "autopost.campaign.field.channel_name"}}</label>
            <div>{{editing.channel_name}}</div>
          </div>
          <div class="attribute">
            <label>{{i18n "autopost.campaign.field.title_keyword_filter"}}</label>
            {{text-field value=editing.title_keyword_filter}}
          </div>
        {{/if}}
        <div class="attribute">
          <label>{{i18n "autopost.campaign.field.category"}}</label>
          {{category-chooser
            allowUncategorized="true"
            value=editing.category_id
            rootNone=true}}
        </div>
        <div class="attribute">
          <label>{{i18n "autopost.campaign.field.topic_id"}}</label>
          {{text-field value=editing.topic_id}}
        </div>
        {{#if youTube}}
          <div class="attribute">
            <span class="option-checkbox">{{input type="checkbox" checked=editing.include_description}}<label>{{i18n "autopost.campaign.field.include_description"}}</label></span>
          </div>
          <div class="attribute">
            <span class="option-checkbox">{{input type="checkbox" checked=editing.tag_channel}}<label>{{i18n "autopost.campaign.field.tag_channel"}}</label></span>
          </div>
        {{/if}}
        <div class="attribute">
          <label>{{i18n "autopost.campaign.field.default_tags"}}</label>
          {{text-field value=editing.default_tags}}
        </div>
        <div class="attribute">
          <label>{{i18n "autopost.campaign.field.owner_username"}}</label>
          {{text-field value=editing.owner_username}}
        </div>
        <div class="buttons">
          {{d-button
            action=commandAction
            class="save btn btn-primary"
            title=commandLabel
            label=commandLabel
            disabled=saveDisabled}}
          {{d-button
            action="cancel"
            class="btn btn-default"
            title="autopost.campaign.button.cancel"
            label="autopost.campaign.button.cancel"}}
        </div>
      </div>
    </form>
  {{else}}
    <div class="list-controls">
      {{d-button action="new"
        icon="plus"
        title="autopost.campaign.button.new"
        label="autopost.campaign.button.new"}}
    </div>
    <table>
      <tr>
        <th>{{i18n "autopost.campaign.field.provider"}}</th>
        <th>{{i18n "autopost.campaign.field.source"}}</th>
        <th>{{i18n "autopost.campaign.field.channel_name"}}</th>
        <th>{{i18n "autopost.campaign.field.key"}}</th>
        <th>{{i18n "autopost.campaign.field.subscription_state"}}</th>
        <th>{{i18n "autopost.campaign.field.subscription_expiration_time"}}</th>
        <th>{{i18n "autopost.campaign.field.subscription_last_received"}}</th>
        <th></th>
      </tr>
      {{#each model as |c|}}
        <tr class="">
          <td>{{c.providerName}}</td>
          <td>{{c.sourceName}}</td>
          <td><a href="https://www.youtube.com/channel/{{c.key}}">{{c.channel_name}}</a></td>
          <td>{{c.key}}</td>
          <td>{{c.subscription_state}}</td>
          <td>{{c.subscription_expiration_time}}</td>
          <td>{{c.subscription_last_received}}</td>
          <td>
            {{d-button action="edit" actionParam=c icon="pencil-alt" class="edit" title="autopost.campaign.button.edit"}}
            {{d-button action="delete" actionParam=c icon="far-trash-alt" class="delete btn-danger" title="autopost.campaign.button.delete"}}
          </td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
</div>
